@font-face {
  font-family: "ubuntubold";
  src: url("fonts/ubuntubold.woff") format("woff"), url("fonts/ubuntubold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ubuntumedium";
  src: url("fonts/ubuntumedium.woff") format("woff"), url("fonts/ubuntumedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "ubuntumedium", serif;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  background-color: #E5E5E5;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  min-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header_list {
  list-style: none;
}