$main_background: #E5E5E5; 
$general_color: #E63E00;

@import 'style/fonts';

a {
    list-style: none;
}

* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "ubuntumedium", serif;
    font-size: 24px;
    line-height: 28px;
    color: #000 ;
    background-color: $main_background;
}
.container{
    width: 1200px ;
    margin: 0 auto;
    padding: 0 20px;
}
img {
    // min-width: 100%;
    height: auto;
}

@media (max-width: 1200px ) {
    .container{
        width: 100%;
    }
}
// @media(max-width: 768px) {
//     .container{
//         width: 768px;
//     }
// }

@import 'style/header.scss';
@import 'style/primary.scss'; 
@import 'style/why.scss';
@import 'style/catalog.scss';
@import 'style/order.scss';
@import 'style/clients.scss';


// переменные
// шрифты
// переменные шрифтов
// стили