.header__hamburger {
  display: none;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-img {
  width: 264px;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__item {
  padding: 0 0 0 70px;
  text-transform: uppercase;
}

.header__link {
  text-decoration: none;
  color: #000;
}
.header__link:hover {
  color: #E63E00;
  transition: all ease-out 0.4s;
}

.slogan {
  display: flex;
  text-transform: uppercase;
  font-size: 36px;
  width: 554px;
  line-height: 41px;
  margin-top: 85px;
}

.primary {
  padding: 0 50px 60px 0;
  background-image: url("img/backgrounds/logo-shawarma 1.png");
  background-repeat: no-repeat;
  background-position: right;
}

@font-face {
  font-family: "ubuntubold";
  src: url("fonts/ubuntubold.woff") format("woff"), url("fonts/ubuntubold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ubuntumedium";
  src: url("fonts/ubuntumedium.woff") format("woff"), url("fonts/ubuntumedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "ubuntumedium", serif;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  background-color: #E5E5E5;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  height: auto;
}