@font-face {
  font-family: "ubuntubold";
  src: url("fonts/ubuntubold.woff") format("woff"), url("fonts/ubuntubold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ubuntumedium";
  src: url("fonts/ubuntumedium.woff") format("woff"), url("fonts/ubuntumedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
a {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "ubuntumedium", serif;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  background-color: #E5E5E5;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  height: auto;
}

.header__hamburger {
  display: none;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.header__logo-img {
  width: 264px;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__item {
  padding: 0 0 0 70px;
  text-transform: uppercase;
}

.header__link {
  text-decoration: none;
  color: #000;
}
.header__link:hover {
  color: #E63E00;
  transition: all ease-out 0.4s;
}

.slogan {
  display: flex;
  text-transform: uppercase;
  font-size: 36px;
  width: 554px;
  line-height: 41px;
  margin-top: 85px;
}

.primary__background {
  background-image: url("img/backgrounds/logo-shawarma1.png");
  background-repeat: no-repeat;
  background-position: right;
  padding: 60px 0;
}

.button__check {
  width: 203px;
  height: 50px;
  background: #E63E00;
  border-radius: 3px;
  border: none;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.why__header {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 41px;
  font-weight: 500;
}

.why__wrap {
  background-image: url("img/why/shawarma1.png");
  background-repeat: no-repeat;
  background-position: 30px 150px;
}

.why__header__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why_list_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.why__list {
  counter-reset: section;
  list-style-type: none;
}

.why__list__item {
  position: relative;
  font-size: 32px;
  line-height: 37px;
  padding: 15px 0 40px 40px;
}
.why__list__item::before {
  counter-increment: section;
  content: "" counter(section) "";
  color: #E63E00;
  position: absolute;
  left: 10px;
  top: 10px;
}