.clients__list{
    display: flex;
    justify-content: space-between;
    padding: 0;

    list-style-type: none;
}
.clients__list-item{
    padding-right: 27px;
}
.clients__header{
    display: flex;
    align-items: center;
}
.slider{
    margin-left: 790px;
}
.slick__prev{
    background-image: url("img/clients/arrow-left.png");
    background-repeat: no-repeat;
    height: 28px; 
    width: 17px;
    border: 0;
    background-color: transparent;
}
.slick__next{
    background-image: url("img/clients/arrow-right.png");
    background-repeat: no-repeat;
    height: 28px; 
    width: 17px;
    border: 0;
    background-color: transparent;
}