@font-face {
  font-family: "ubuntubold";
  src: url("fonts/ubuntubold.woff") format("woff"), url("fonts/ubuntubold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ubuntumedium";
  src: url("fonts/ubuntumedium.woff") format("woff"), url("fonts/ubuntumedium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}