.header__hamburger {
  display: none;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo-img {
  width: 264px;
}

.header__list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.header__item {
  text-transform: uppercase;
  padding: 0 0 0 70px;
}

.header__link {
  text-decoration: none;
  color: #000;
}