.header__hamburger{
    display: none;
}
.header__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.header__logo-img{
    width: 264px;
}
.header__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__item{
    padding: 0 0 0 70px;
    text-transform: uppercase;
 }
.header__link{
    text-decoration: none;
    color: #000;
    &:hover {
        color: $general_color; 
        transition: all ease-out .4s;
    }
}


@media (max-width: 768px) { 
    .header__list {
        font-size: 18px;
        line-height: 21px;
    }
}