
.header__hamburger{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color:  #F7F7F7;
    // z-index: 1;
}
.header__wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
}
.header__logo-img{
    width: 264px;
}
.header__list{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.header__item{
    padding: 0 0 0 70px;
    text-transform: uppercase;
 }
.header__link{
    text-decoration: none;
    color: #000;
    &:hover {
        color: $general_color; 
        transition: all ease-out .4s;
    }
}


@media (max-width: 768px) { 
    .header__list {
        font-size: 18px;
        line-height: 21px;
    }
    .header__item{
        padding-left: 30px;
    }
}
@media (max-width: 320px) {
   .header__logo-img{
       width: auto;
   }
   .header__list{
       position: fixed;
       top: 0;
       left: 0;
       display: block;
       width: 100%;
       height: 100%;
       padding: 30px 40px;
       background-color:  #F7F7F7;
       transform: translateY(-100%);
       z-index: 5;
    //    text-align: center;
   } 
   .header__list--active{
       transform: translateY(0);
   }
   .header__item{
       display: block;
       padding: 25px 0;
       font-size: 14px;
       line-height: 16px;
   }
   .header__hamburger{
       display: block;
   }
}