.order{
   margin-top: 40px;

    background-image: url("img/order-sectoin/order-background.png");
    background-repeat: no-repeat;
}

.order__wrap{
  padding-bottom: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.order__title{
    padding: 40px 90px 0 0;
    margin: 0 0 20px 0;

    font-family: "ubuntumedium", serif;
    font-size: 36px;
    line-height: 41px;
    font-weight: 100;
    color: #fff;
}

.input{
    margin: 10px 0;

    display: flex;
    flex-direction: column;

    text-align: end;
    
    list-style-type: none;
}

.input__item{
   margin-bottom: 20px ;
}
.input__name{
    font-family: "ubuntumedium", serif;
    font-size: 30px;
    line-height: 34px;
    font-weight: 400;
    color:#fff;
}
.input__text{
    width: 350px;
    
    font-size: 24px;

    border: 0;
    border-bottom: 2px solid #fff;
    background-color: transparent;

    &:hover{
      border-bottom: 2px solid $general_color;
    }
    &:focus {
      outline: none;
    }
}

.order__footer{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.order__notice{
   width: 201px;

   font-size: 14px;
   line-height: 16px;
   color: #fff;
}

.order__button{
    width: 205px;
    height: 50px;
    margin-left: 90px;
    
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;

    background: $general_color;
    border-radius: 3px; 
    border: none;
}
@media (max-width: 768px) {
  .order__wrap {
    align-items: center;
  }
}
