.slogan{
    display: flex;
    text-transform: uppercase;
    font-size: 36px;
    width: 554px;
    line-height: 41px;
    margin-top: 85px;
}
.primary{
    padding: 0 50px 60px 0;
    background-image: url("img/backgrounds/logo-shawarma 1.png");
    background-repeat: no-repeat;
    background-position: right;
}