.slogan{
    display: flex;
    text-transform: uppercase;
    font-size: 36px;
    width: 554px;
    line-height: 41px;
    margin-top: 85px;
}
// .primary{
    
// }
.primary__background{
    background-image: url("img/backgrounds/logo-shawarma1.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: 60px 20px;
}
.button__check{
    width: 203px;
    height: 50px;
    background: #E63E00;
    border-radius: 3px; 
    border: none;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width: 768px) { 
    .slogan{
        width: 354px;
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 100px;
        margin-top: 25px ;
    }
}