.why__header {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 41px;
    font-weight: 500;
    }
.why__wrap{
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    background-image: url("img/why/shawarma1.png");
    background-repeat: no-repeat;
    background-position: 30px 150px;
}
.why__header__wrap{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.why_list_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.why__list{
    counter-reset: section;          
    list-style-type: none;
}
.why__list__item{
    position: relative;
    font-size: 32px;
    line-height: 37px;
    padding: 15px 0 40px 40px;    
    &::before{
       counter-increment: section;
       content: "" counter(section) ""; 
       color: $general_color;
       position: absolute;
       left: 1px;
       top: 10px;
    }
}
@media (max-width: 768px) { 
    .why__wrap{
        background-size: 299px;
        background-position: 460px 420px;
        padding-bottom: 150px;
    }
    .why__header{
        font-size: 30px;
        line-height: 34px;
    }
    .why_list_wrap{
        align-items: center;
    }
    .why__list__item{
        font-size: 30px;
        line-height: 34px;
    }
}